<div class="body">
  <div class="container">
    <section class="contact-info">
      <h2>Contacto</h2>
    </section>
    <form action="tu-script-de-envio.php" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" required />
      <input type="email" name="email" placeholder="Correo" required />
      <textarea
        name="mensaje"
        rows="5"
        placeholder="Mensaje"
        required
      ></textarea>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
